/* container of the form use to send the user informations */
.outer {
  /*display: table;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;*/
  position: relative;
  background-color : #242729;
  border-radius: 10px;
  margin: auto;
  top: 10%;
  width: 570px;
  height: 430px;
  padding: 45px 35px 10px;
  box-shadow: 0 5px 15px rgba(36, 39, 41, 0.9);
  box-sizing: border-box;
}
/*.middle {
  display: table-cell;
  vertical-align: middle;
}*/

.inner {
  position: relative;
  z-index: 2;
}
.formTitle {
  font-family: "Trebuchet MS", cursive;
  font-size: 22px;
  margin: 0;
  color: #f4f9fd;
}
.formInfo{
  font-family: "Trebuchet MS";
  font-size: 16px;
  color: rgb(244,249,253,0.9);
}
.inputForm {
  display: flex;
  flex-direction: column-reverse;
  position: relative;
  padding-top: 10px;
  margin-top: 20px;
}
.textForm{
  border: 0;
  padding: 0;
  z-index: 1;
  background-color: transparent;
  border-bottom: 2px solid #f4f9fd;
  color: #2471a3;
  font-family: "Trebuchet MS";
  font-size: 16px;
  line-height: 30px;
}
.textForm:focus {
  outline: 0;
  border-bottom-color: rgb(244,249,253,0.5);
}
.textForm:not(:placeholder-shown) {
  border-bottom-color: rgb(244,249,253,0.5);
}
.labelForm{
  font-family: "Trebuchet MS";
  font-size: 16px;
  color: #f4f9fd;
  position: absolute;
  top: 20px;
}
.textForm:focus ~ .labelForm{
  transform:translateY(-25px);
  font-size: 15px;
  color: rgb(244,249,253,0.5);
}
.textForm:not(:placeholder-shown) ~ .labelForm{
  transform:translateY(-25px);
  font-size: 15px;
  color: rgb(244,249,253,0.5);
}
.selectForm{
  margin-top: 30px;
}
.labelFile{
  color: #f4f9fd;
  font-family: "Trebuchet MS";
  font-size: 16px;
  margin-left: 162px;
}
#file::file-selector-button{
  border-radius: 18px;
  border: 1px solid #f4f9fd;
  width: 100px;
  line-height: 30px;
  margin-top: 8px;
  margin-left: 140px;
  color: #f4f9fd;
  background: #151617;
}
#file:valid {
  color: #2471a3;
}
.formButton{
  border-radius: 4px;
  border: none;
  outline: none;
  width: 100%;
  font-size: 18px;
  line-height: 36px;
  margin: 50px 0 10px;
  color: #242729;
  background: #2471a3;
  /*box-shadow: 0 2px 12px -3px $color;*/
}
.formButton:hover{
  /*opacity: 0.8;*/
  background: #f4f9fd;
  transition: 0.5s;
  cursor: pointer;
}

/*examples form*/
.exampleForm {
  /*padding: 0 16px;*/
  max-width: 350px;
  margin: auto;
  font-size: 16px;
  line-height: 50px;
}
.exampleDiv {
  border-radius: 10px;
  background-color: #242729;
  display: block;
  box-shadow: 0 0 10px rgba(36, 39, 41, 0.9);
  margin: 10px 0;
  position: relative;
}
.exampleDiv:hover {
  background: #2471a3;
}
.exampleDiv label {
  padding: 30px 30px;
  display: block;
  text-align: left;
  color: #f4f9fd;
  cursor: pointer;
  position: relative;
  z-index: 2;
}
.exampleDiv input:checked ~ label {
  background: #2471a3;
  border-radius: 10px;
}
.exampleRadio {
  z-index: 2;
  position: absolute;
  cursor: pointer;
  visibility: hidden;
}
.exampleImage {
  width:100px;
  height:100px;
  position: absolute;
  right: 10px;
  top: 5px;
}
.exampleButton {
  margin: 20px 0;
  border-radius: 4px;
  border: none;
  outline: none;
  width: 110px;
  font-size: 18px;
  line-height: 36px;
  color: #242729;
  background: #2471a3;
  box-shadow: 0 0 10px rgba(36, 113, 163, 0.9);
}
.exampleButton:hover {
  /*opacity: 0.8;*/
  color: #f4f9fd;
  transition: 0.5s;
  cursor: pointer;
}


/* bar chart */
#barChart
{
  display: none;
  align-items: center;
  justify-content: center;
}

/* formatting of the form of the clonal threshold choice */
.thresholdForm {
  width: 310px;
  padding: 0.5em;
  font :  0.8em "Trebuchet MS";
  border: 0.5px solid #CCC;
  border-radius: 0.5em;
  float : right;
  display : block;
}

.thresholdLabel {
  display: inline-block;
  text-align: left;
}

.enterButton {
  float : right; 
}

.thresholdLine {
  stroke : black;
}

/* Properties of the repertoir and the circular tree titles */
#chartTitle {
  text-align : center;
  visibility : hidden;
  font-family: Optima, Segoe, Segoe UI, Candara, Calibri, Arial, sans-serif;
  font-size: 1.2em;
}
#divMessageTree {
  display: none;
  width: 100%;
  height: 100%;
}
#messageTree {
  text-align : center;
  font :  0.9em "Trebuchet MS";
  margin : auto;
}

/* properties to modify the size of the tree */
#enlargeButton {
  display: none;
  background-color: #242729;
  border: 5px;
  color: white;
  padding: 5px 5px;
  cursor: pointer;
  font-size: 18px;
}
#enlargeButton:hover {
  background-color: rgb(36,39,41,0.1);
  color: #2471a3;
}

/* properties of the nodes and the link of the tree visualization */
.nodeTree {
  stroke-width: 1.5;
}

.nodeTree text {
  font-size: 11;
}

.linkTree {
  stroke-opacity: 1;
}

.button {
  background-color: white;
  border: none;
  color: black;
  padding: 5px 15px;

}

.button:hover {
  background-color: #2471a3;
  color: white;
}

#nextButton {
  background-color: #f4f9fd;
  border-radius: 5px;
  border: 1.7px solid #2471a3;
  text-align: center;
  /*transition: 0.5s;*/
}
#nextButton:hover {
  background-color: #2471a3;
}

/* properties of the button "intraclonal study" */
#nextDiv {
  visibility: hidden;
  text-align: center;
}

#treeForm {
  font :  0.9em "Trebuchet MS";
}

/* properties of the checkbox which show the productivity */
#checkboxTreeModification {
  position: absolute; 
  right: 0px;
  font :  0.9em "Trebuchet MS";
}

/* properties of the switch-toggle for the simplification of the tree */
.switch-toggle {
  margin: 0 auto;
  width: 145px;
  background: #242729;
  border-radius: 30px;
  font :  0.9em "Trebuchet MS";
  padding: 6px;
}
.switch-toggle input {
  position: absolute;
  opacity: 0;
}
.switch-toggle input + label {
  padding: 6px;
  color: #fff;
  cursor: pointer;
}
.switch-toggle input:checked + label {
  background: #2471a3;
  border-radius: 10px;
}
.switch-toggle input:hover + label{
  color: #cde2f7;
}
#treeSimplification {
  position: absolute; 
  left: 10%;
  text-align: center;
  font :  0.9em "Trebuchet MS";
  display: none;
}

/*table of abundance and name of clones*/
#cloneTable {
  margin-left: auto;
  margin-right: auto;
  font :  0.9em "Trebuchet MS";
  display: table;
  width: 95%;
}
#cloneTable thead, #cloneTable tbody {
  float: left;
  width: 100%;
}
#cloneTable tbody {
  overflow: auto;
  height: 200px;
}
#cloneTable tr {
  width: 100%;
  display: table;
  text-align: center;
  table-layout: fixed;
}
#cloneTable tbody tr:hover {
  background: rgba(36, 39, 41, 0.1);
}
#cloneTable thead {
  background-color: #242729;
  color: white;
  height: 35px;
  line-height: 30px;
}

/*table containing the sequence*/
.tableInfoCell{
width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: auto;
}

#cloneName{
  font-family: Optima, Segoe, Segoe UI, Candara, Calibri, Arial, sans-serif;
  font-size: 1.2em;
}

#tableSequence {
  border-spacing: 0;
  font-family: "Courier New", Courier, monospace;
  font-size: 12px;
}
#tableSequence tbody {
  overflow: auto;
}
#tableSequence td.firstColumn {
  position: sticky;
  left:0;
  z-index:2; /*order of overlays*/
  background-color: white;
}
#tableSequence td.secondColumn {
  position: sticky;
  left:60px;
  z-index:2; /*order of overlays*/
  background-color: white;
}
#tableSequence td.thirdColumn  {
  position: sticky;
  left:120px;
  z-index:2; /*order of overlays*/
  background-color: white;
}
#tableSequence td.fourthColumn {
  position: sticky;
  left:312px;
  z-index:2; /*order of overlays*/
  background-color: white;
}
#tableSequence td.fifthColumn {
  position: sticky;
  left:464px;
  z-index:2; /*order of overlays*/
  background-color: white;

}
#tableSequence td, th{
  height: 16px;
  text-align: center;
}

.firstColumn {
  width: 58px;
  min-width: 58px;
  max-width: 58px;
}
.secondColumn {
  width: 58px;
  min-width: 58px;
  max-width: 58px;
}
.thirdColumn {
  width: 200px;
  min-width: 190px;
  max-width: 190px;
}
.fourthColumn {
  width: 150px;
  min-width: 150px;
  max-width: 150px;
}
.fifthColumn {
  width: 100px;
  min-width: 100px;
  max-width: 100px;
  border-right: 1px solid;
}

#tableSequence thead tr.firstRow th {
  background-color: white;
  position: sticky;
  z-index:1;
  top:0;
}
#tableSequence thead tr.secondRow th {
  background-color: white;
  position: sticky;
  z-index:1;
  top:18px;
  border-bottom : 1px solid;
}
#tableSequence thead tr.thirdRow th {
  background-color: white;
  position: sticky;
  z-index:1;
  top:37px;
}
#tableSequence tr.firstRow th.firstColumn, #tableSequence tr.thirdRow th.firstColumn {
  background-color: white;
  z-index:3; /*order of overlays*/
  left:0;
}
#tableSequence tr.firstRow th.secondColumn, #tableSequence tr.thirdRow th.secondColumn {
  background-color: white;
  z-index:3; /*order of overlays*/
  left:60px;
}
#tableSequence tr.firstRow th.thirdColumn, #tableSequence tr.thirdRow th.thirdColumn {
  background-color: white;
  z-index:3; /*order of overlays*/
  left:120px;
}
#tableSequence tr.firstRow th.fourthColumn, #tableSequence tr.thirdRow th.fourthColumn {
  background-color: white;
  z-index:3; /*order of overlays*/
  left:312px;
}
#tableSequence tr.firstRow th.fifthColumn, #tableSequence tr.thirdRow th.fifthColumn {
  background-color: white;
  z-index:3; /*order of overlays*/
  left:464px;
}

.cdr{
  background: #E6E6FA;
}
.fwr{
  background: #FFFACD;
}
.D{
  border-width: 1px;
  border-bottom-style: solid;
  background: #E6E6FA;
}

#tableSequence thead tr.naiveRow th {
  position: sticky;
  z-index:1;
  top:0;
}
#tableSequence tr.naiveRow th.firstColumn {
  background-color: white;
  z-index:3; /*order of overlays*/
  left:0;
}
#tableSequence tr.naiveRow th.secondColumn {
  background-color: white;
  z-index:3; /*order of overlays*/
  left:60px;
}

#imgtButton {
  background-color: #242729;
  border: none;
  color: white;
  opacity: 0.33;
  padding: 3px 5px;
  cursor: default;
}

.clonotypeActiveButton {
  background-color: #242729;
  border: none;
  color: white;
  opacity: 1;
  padding: 3px 5px;
  cursor: pointer;
}

#cloneDownloadDiv {
  position: relative;
}
.downloadButton {
  background-color: #2471a3;
  border: 5px;
  color: white;
  padding: 8px 15px;
  cursor: pointer;
}
.downloadButton.active {
  background-color: #242729;
  box-shadow: 0 0 10px rgba(36, 39, 41, 0.9);
}
.downloadButton:hover {
  background-color: #242729;
}
#cloneDownloadButton {
  width: 140px;
}
.dropMenu {
  font-family: Optima, Segoe, Segoe UI, Candara, Calibri, Arial, sans-serif;
  font-size: 1em;
  display: none;
  position: absolute;
  box-shadow: 0 0 10px rgba(36, 39, 41, 0.9);
  bottom: 100%;
  background-color: #242729;
  cursor: pointer;
}
.dropMenu.active{
  display: block;
}
.dropMenu a {
  padding: 4px 8px;
  color: white;
  display: block;
}
.dropMenu a:hover {
  background-color: #2471a3;
}


/* properties of the tooltip of the distance visualization and the tree visualization*/
.tooltip {
  position: absolute;
  display: none;
  padding : 5px;
  font-size :12px;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 3px;  
  box-shadow: -3px 3px 15px #888;
  color: white;
}
/* context menu of the elbow tree */
.contextMenu {
  position: absolute;
  display: none;
  border-radius: 2px;
  background-color: #242729;
  color: #f4f9fd;
  /*font-family: Arial, sans-serif;*/
  font-size: 14px;
  /*min-width: 150px;*/
  /*border: 1px solid #242729;
  z-index: 1200;*/
}

.contextMenu ul {
  padding: 0px;
  list-style-type: none;
  margin: 5px 0px;
  cursor: default;
}

.contextMenu ul li {
  padding: 4px 8px;
}

.contextMenu ul li:hover {
  background-color: #2471a3;
}
.pieChart {
  width : 100%:
  height: 100%;
  z-index: 20;
}


